/* PALETA DE CORES
#f4f6c8
#a3b17d
#485d25
#324414 */

/* ESTILIZAÇÃO GERAL */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fffee2;
    height: 100vh;
}

.interface{
    max-width: 1400px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    font-size: 42px;
    margin: 20px 0;
    gap: 20px;
}

h2::before,
h2::after{
    content: "";
    flex: 1;
    height: 2px;
}

/* ESTILIZAÇÃO HEADER */

header{
    min-height: 20vh;
    background-image: url("images/paisagem.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .interface .flex{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .interface .flex .img-rbc{
    flex-direction: row;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.img-rbc img{
    width: 250px;
}

.text-e-botao{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
}

header .txt-header{
    color: #fffee2;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 80%;
}

.txt-header h1{
    font-size: 50px;
    line-height: 1.0;
    margin: 10px 0 20px 0;
}

.btn-contato button{
    padding: 13px 40px;
    font-size: 18px;
    font-weight: 70;
    background-color: #485d25;
    color: #f4f6c8;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

button:hover, form .btn-enviar input:hover{
    transform: scale(1.05);
}

/* ESTILIZAÇÃO HOME */

.home{
    padding: 40px 0;
}

.home h2{
    color: #a3b17d
}
.home h2::before, .home h2::after{
    background-color: #a3b17d;
}

section .interface .flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex .servicos{
    margin-top: 40px;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.servicos-box{
    color: #fff;
    padding: 20px 60px;
    width: 280px;
    min-height: 180px;
    border-radius: 10px;
    margin-top: 20px;
    transition: .2s;
    background-color: #a3b17d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 50px 0;
}

.servicos .servicos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff5b;
}

.servicos .servicos-box i{
    font-size: 60px;
    color: #fff;
}

.linha-srvc{
    height: 1px;
    width: 80%;
    background-color: #ffffff;
    margin: 10px 0 10px 0;
}

/* ESTILIZAÇÃO INFO */

.flex .informacoes{
    margin-top: 20px;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.info h2{
    color: #a3b17d
}
.info h2::before, .info h2::after{
    background-color: #a3b17d;
}

.info-box{
    color: #485d25;
    padding: 20px 60px;
    width: 280px;
    min-height: 180px;
    border-radius: 10px;
    margin: 5px 0 1px 0;
    transition: .2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacoes .info-box i{
    font-size: 60px;
    color: #485d25;
}

.linha-info{
    height: 1px;
    width: 80%;
    background-color: #485d25;
    margin: 10px 0 10px 0;
}

.linha{
    height: 2px;
    width: 50%;
    background-color: #a3b17d;
    margin: 70px 0 100px 0;
}

/* ESTILIZAÇÃO SOBRE MIM */

.sobre-mim .interface{
    width: 65%;
    margin-bottom: 150px;
}

.caixa{
    display: flex;
    flex-direction: row;
    color: #f4f6c8;
    height: 500px;
}

.caixa .img-sobre img{ 
    height: 100%;
}

.txt-sobre{
    padding: 40px 55px;
    background-color: #a3b17d;
}

.txt-sobre h1{
    font-size: 40px;
}

.txt-sobre .sobre{
    margin: 10px 0;
    font-size: 20px;
}

.linkedin-sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.txt-sobre .linkedin-p{
    font-size: 15px;
}

/* ESTILIZAÇÃO FOOTER */

footer{
    background-color: #a3b17d;
}

footer .flex{
    display: flex;
    flex-direction: column;
}

footer h2{
    color: #f4f6c8;
}
footer h2::before, footer h2::after{
    background-color: #f4f6c8;
}

footer .contatos p{
    color: #f4f6c8;
    font-size: 20px;
}

footer i{
    color: #f4f6c8;
    font-size: 20px;
    padding: 0 10px;
}

.txt-footer{
    display: flex;
    flex-direction: column ;
    align-items: center;
    color: #f4f6c8;
    font-size: 30px;
    gap: -10px;
}

.contatos{
    padding: 20px 0 50px 25px;
}

.email{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.whatsapp{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

/* FOLHAS */

main {
  position: relative;
}

.folha {
  position: absolute;
  width: 220px;
  z-index: 1;
  pointer-events: none;
}

.folha2e-1 {
  left: -10px;
  top: 360px;
  width: 15%;
}

.folha1e-2 {
  left: -10px;
  top: 1100px;
  width: 15%;
}

.folha1d-1{
    right: -10px;
    top: 85px;
    width: 15%;
}

.folha2d-2{
    right: -10px;
    top: 590px;
    width: 15%;
}

.folha1d-3{
    right: -10px;
    top: 1320px;
    width: 15%;
}

/* RESPONSIVIDADE */

@media screen and (min-width: 1021px) and (max-width: 1440px) {
    /* Estilos para telas médias/grandes */

    .interface .flex .servicos{
        width: 95%;
        justify-content: center;
    }

    .interface .flex .informacoes{
        width: 95%;
        justify-content: center;
    }

    .sobre-mim .interface{
        width: 75%;
    }

}

@media screen and (max-width: 1020px){

    /* GERAIS */

    h2{
        font-size: 25px;
    }

    /* HEADER */
    header{
        height: 20vh;
        background-image: url("images/paisagem.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    header .interface{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    header .interface .flex{
        flex-direction: row;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .text-e-botao{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    header .txt-header{
        color: #fffee2;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        width: 90%;
    }

    .txt-header h1{
        font-size: 16px;
        line-height: 1.0;
        margin: 15px 0 8px 0;
    }

    .txt-header p{
        font-size: 10px;
    }

    .btn-contato button{
        padding: 7px 20px;
        font-size: 10px;
        font-weight: 40;
        background-color: #485d25;
        color: #f4f6c8;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover, form .btn-enviar input:hover{
        transform: scale(1.05);
    }

    .img-rbc{
        align-self: flex-end;
        margin: 0 0 0 10px;
    }
    
    .img-rbc img{
        width: 120px;
    }

    /* HOME -> MEUS SERVIÇOS */

    .interface .flex .servicos{
        flex-direction: column;
    }

    .servicos-box{
        padding: 10px 30px;
        margin: 20px 0;
    }

    /* HOME -> INFO */

    .interface .flex .informacoes{
        flex-direction: column;
        
    }

    .info-box{
        padding: 0 30px;
        margin: 20px 0;
    }

    .info .interface .flex{
        justify-content: center;
    }

    /* SOBRE MIM*/

    .sobre-mim .interface{
        margin-bottom: 150px;
    }

    .caixa{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 100%;
    }

    .img-sobre img{
        width: 350px;
        height: 100%;
    }

    /* FOOTER */

    .txt-footer{
        font-size: 20px;
    }

}
